<%= stylesheet_link_tag 'tabnav' %>
<ul id="nav">
  <li id="nav_dash" class="current"><a href="/">dashboard</a></li>
  <li id="nav_rate"><a href="/">rate limiting</a></li>
  <li id="nav_ip"><a href="/">ip blocking</a></li>
  <li id="nav_proto"><a href="/">protocols</a></li>
  <li class="padding"></li>
</ul>
<div id="box"></div>
<div id="narwhal"></div>
