<%= link_to_function "Show/Hide Chart", :id => "show_link" do |page|
  page.visual_effect(:toggle_blind, 'hidden_chart')
end %>

<span id="test_edit"><%= @test_num %></span>  

<%= in_place_editor "test_edit", {:url => url_for(:action => :edit_num) } %>

<div id="hidden_chart">
  <%= image_tag @chart.to_url, :size =>"500x300" %>
</div>
