<%= link_to_function "Show/Hide Chart", :id => "show_link" do |page|
  page.visual_effect(:toggle_blind, 'hidden_chart')
end %>

<div id="hidden_chart">
  <%= image_tag @chart.to_url, :size =>"500x300" %>
</div>
