<ul id="nav">
  <li id="nav_dash"><a href="/dashboard/overview">dashboard</a></li>
  <li id="nav_rate" class="current"><a href="/dashboard/rate">rate limiting</a></li>
  <li id="nav_ip"><a href="/dashboard/ip">ip blocking</a></li>
  <li id="nav_proto"><a href="/dashboard/protocols">protocols</a></li>
  <li class="padding"></li>
</ul>
