@import url("reset.css");

html { font: small/1.4 "Lucinda Grande", Tahoma, sans-serif; background: #312B2D; color: #312B2D; }
body { font-size: 92%; }

#page_title { color: #312B2D; font: large/2.0 "Lucinda Grande", Tahoma, sans-serif; text-align: center; position: relative; z-index:5; padding: 20 20 20 50; }
#instructions { padding-top: 20px; text-align:center; color: #312B2D; font: medium/1.5 "Lucinda Grande", Tahoma, sans-serif; }

#nav li { margin: 0; padding: 0; float: left; width: 100%; }
#nav li.padding { padding-bottom: 365px; /* not sure why this wont work "right" */ /*height: 552px;*/ }
#nav li.current a { background: #585E6A; color: #F0F0F0; font-weight: bold; }
#nav ul { list-style: none; list-style-position: inside; }

#nav { border-top: 1px solid #FFF; margin: 110px 0px 0px 20px; padding: 0; background: #BAC626; list-style-type: none; width: 200px; height: 83%; float:left; }
#nav #nav_pro a { border: none; }
#nav a { display: block; color: #FFF; text-decoration: none; padding: 0 15px; line-height: 2.5; border-bottom: 1px solid #FFF; }
#nav a:hover  { background: #CED379; }

#box { margin: 35px 0px 0px 230px;  padding: 10px; background: #F0F0F0;  width: 76.5%; height: 85%;  opacity: 0.95; position: absolute;  z-index: 1; }
#content { font: medium/2.4 "Lucinda Grande", Tahoma, sans-serif; margin: 0px 0px, 0px, 230px; width: 100%; height: 100%; position: absolute; z-index: 3; }

.protocol { margin-left: 0px; text-align: center;}
.protocol li {padding-left: 35px;}
.proto-left { padding: 0 0 0 100px; float: left; }
.proto-right { padding: 0 0 0 100px; float: left; }/*realllll ghetto*/

.protoTitle { margin: 0px auto; color: #312B2D; font: medium/4.0 "Lucinda Grande", Tahoma, sans-serif;} 
.protoBox { margin: 0px auto; padding: 0px; border: 5 solid gray; width: 100px;  height: 40%; background: #FFF; float: center;}

#narwhal { background: url(/images/narhwal.png) no-repeat; position: absolute; bottom: 0;  right: 0px; width: 520; height: 289; z-index: 0; }
#narwhal_small { background: url(/images/narhwal.png) no-repeat; position: absolute; top: 25px; left: 20px; width: 200px; height:85px; z-index: -1; }

#chart_div { position:absolute; right: 15px; top: 35px; }
#overview_table { position:absolute; left: 0px; top: 35px; }

#allowed li { text-align: left; }
#blocked li { text-align: left; }

tr { background-color: #D9ECDB; }
tr.even {  background-color: #E9FFE1; }

legend { margin-left: 0em; color: #000000; font-weight: bold; }

fieldset { margin: 1.5em 0 0 0; padding: 0 0 0 0.5em; }
fieldset ol { padding: 1em 1em 0em 1em; list-style: none; }
fieldset li { padding-bottom: 1em; }
fieldset.submit {	border-style: none; }

label { padding-left: 0.5em; font: 1em Helvetica; display:block;}

td.ip, td.proto, td.port {	padding: 0.0em; }
td.ip select, td.proto select, td.port select { width: 90px;  }
tr { background-color: #F0F0F0 }

.wrapper {padding: 0 0 0 0px; width: 90%; margin: 0px auto; position: center;}
.prowrapper {padding: 0 0 0 0px; width: 60%; margin: 0px auto; position: center;}
#ip_left {  margin: 50px auto; padding: 0.5em; float: left; }
#ip_right { margin: 0px auto; padding: 2.5em 0 0em 1em; float: left; }
div#content div.auto_complete { width: 50px; background: #fff; }

td.header { background: #E9FFE1; font-size: small }
