html
{
  font: small/1.4 "Lucinda Grande", Tahoma, sans-serif;
  background: #312B2D;
  color: #312B2D;
}

body
{
  font-size: 92%;
}

#content
{
  font: medium/2.4 "Lucinda Grande", Tahoma, sans-serif;
  margin: 0px 0px, 0px, 230px
  width: 100%;
  height: 100% 
  position: absolute;
  z-index: 3;  
}

#page_title
{
	color: #312B2D;
  font: large/0.5 "Lucinda Grande", Tahoma, sans-serif;
	text-align: center;
	position: relative;
	z-index:5;
	padding-bottom: 5;
}

#nav
{
  border-top: 1px solid #FFF;
  margin: 110px 0px 0px 20px;
  padding: 0;
  background: #BAC626;
  list-style-type: none;
  width: 16%;
  height: 83%;
  float:left; /* Contain floated list items */
}

#box
{
  margin: 35px 0px 0px 230px;
  padding: 10px;
  background: #F0F0F0;
  width: 76.5%;
  height: 89.5%;
  opacity: 0.95;
  position: absolute;
  z-index: 1;
}


#nav li
{
  margin: 0;
  padding: 0;
  float: left; /*This corrects the */
  width: 100%; /* IE whitespace bug */
}

#nav li.padding
{
  height: 62%;
}

#nav a 
{
  display: block;
 /* to increase clickable area as a's default to inline */
  color: #FFF;
  text-decoration: none;
  padding: 0 15px;
  line-height: 2.5;
  border-bottom: 1px solid #FFF;
}

#nav #nav_pro a
{
  border: none;
}

#nav a:hover 
{
  background: #CED379;
}

#nav li.current a
{
    background: #585E6A;
    color: #F0F0F0;
    font-weight: bold;
}

tr
{
  background-color: #BCBDAC;
}

tr.even
{
  background-color: #FFF;
}

#narwhal 
{
  background: url(/images/narhwal.png) no-repeat;
  position: absolute;
  bottom: 0; 
  right: 0px;
  width: 520;
  height: 289;
  z-index: 0;
}

#narwhal_small
{
  background: url(/images/narhwal.png) no-repeat;
  position: absolute;
  top: 25px; 
  left: -1px;
  width: 18%;
  height: 16%;
  z-index: -1;
}

#chart_div
{
	position:absolute;
	right: 10px;
	top: 60px;
}
