html
{
  font: small/1.4 "Lucinda Grande", Tahoma, sans-serif;
 /* background: #585E6A; */
  background: #312B2D
}

body
{
  font-size: 92%;
}

#content
{
  margin: 0px 0px, 0px, 230px
  width: 100%;
  height: 100% 
  position: absolute;
  opacity: 1.0;
  z-index: 3;  
}

#nav
{
  border-top: 1px solid #FFF;
  margin: 120px 0px 0px 20px;
  padding: 0;
  background: #BAC626;
  list-style-type: none;
  width: 180px;
  float:left; /* Contain floated list items */
}

#box
{
  margin: 0px 0px 0px 230px;
  padding: 0;
  background: #F0F0F0;
  width: 76.5%;
  height: 79%;
  opacity: 0.8;
  position: absolute;
  z-index: 1;
}

#titlebar
{
  margin: 0px 0px 20px 20px;
  padding: 0;
  background: #C5E0DC;
  width: 96.5%;
  height: 16%;
}

#nav li
{
  margin: 0;
  padding: 0;
  float: left; /*This corrects the */
  width: 100%; /* IE whitespace bug */
}

#nav li.padding
{
  height: 62%;
}

#nav a 
{
  display: block;
 /* to increase clickable area as a's default to inline */
  color: #FFF;
  text-decoration: none;
  padding: 0 15px;
  line-height: 2.5;
  border-bottom: 1px solid #FFF;
}

#nav #nav_pro a
{
  border: none;
  }

#nav a:hover 
{
  background: #CED379;
}

#nav li.current a
  {
    background: #585E6A;
    color: #F0F0F0;
    font-weight: bold;
}

#narwhal 
{
  background: url(/images/narhwal.png) no-repeat;
  position: absolute;
  bottom: 0; 
  right: 0px;
  width: 520;
  height: 289;
  z-index: 0;
}
