<%= stylesheet_link_tag 'tabnav' %>
<ul id="nav">
  <li id="nav_dash" class="current"><a href="/">dashboard</a></li>
  <li id="nav_rate"><a href="/">rate</a></li>
  <li id="nav_ip"><a href="/">ip</a></li>
  <li id="nav_proto"><a href="/">proto</a></li>
</ul>
